body{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

aside{
    grid-column: 1 / 2;
    margin: 5px;

}

.formation, .expPro{
    grid-column: 2 / 2;
    margin: 10px;

}

h1{
    font-size: 20px;
}