body{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

aside{
    grid-column: 1 / 2;
    margin: 5px;
    padding: 5px;
    background-color: rgb(101, 150, 111);

}

.formation, .expPro{
    grid-column: 2 / 2;
    margin: 10px;

}

h1{
    font-size: 40px;
    text-align: center;
}



